.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 120px;
}

/* 입력 폼 */
.form {
  width: 430px;
  padding: 15px;
  text-align: center;

}

/* 라벨 스타일 */
.label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

/* 입력 필드 스타일 */
.input {
  width: 100%;
  padding: 10px;
  height: 45px;
  margin-bottom: 20px;
  border: 1.5px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-size: 18px;
  outline: none;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.6); 
  font-size: 16px;      
  background: transparent;          
}
.input:focus {
  background: transparent;
  color: white;
}
/* 버튼 스타일 */
.button {
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333;
  transform: scale(1);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.popupTitle {
  font-size: 20px;
  font-weight: bold;
  color: black; /* 제목 강조 */
  margin-top:10px;
  margin-bottom: 10px; /* 제목과 내용 간격 */
}

.popupContent {
  background: white;
  padding: 20px 10px;
  border-radius: 5px;
  text-align: center;
  color: black;
  width: 400px;
  font-family:Inter,sans-serif;
  height: 200px;
  font-size:18px;
}


.closeButton {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
}

.closeButton:hover {
  background-color: #333;
  transform:scale(1);
}

@media (max-width:600px)
{
  .popupContent{
    width:80%;
    font-size:16px;
  }
  .closeButton {
    width: 95%;
  }

  .input {
    width: 90%;
  }
  .button {
    width: 90%;
  }
  .label {
    margin-left:20px;
    font-size:20px;
  }

}