.helppage {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 240px;
}

.tutorial,
.rule {
  margin-bottom: 25px;
}

.helpButton {
  padding: 10px 20px;
  font-size: 1rem;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.helpButton:hover {
  background-color: #1f3775;
}

/* 모바일 장치를 위한 미디어 쿼리 */
@media (max-width: 600px) {
  .helppage {
    width: 100%;
    margin-top: 190px; /* 마진 조정 */
  }

  .tutorial,
  .rule {
    margin-bottom: 20px; /* 간격 조정 */
  }

  .helpButton {
    padding: 8px 15px; /* 버튼 내부 여백 조정 */
    font-size: 0.9rem; /* 텍스트 크기 조정 */
    width: 280px; /* 너비 조정 */
    height: 45px; /* 높이 조정 */
  }
}


