body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-top: 110px;
}

.label {
  font-size: 14px;
  color: #ffffff; /* 텍스트 색상 */
  margin-bottom: 15px; /* 입력 상자와의 간격 */ 
}
/*규칙*/
.rules {
  font-size: 13px;
  color: #ffffff;
  border-bottom: 0.3px solid #ffffff;
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  margin-top: 20px;
  margin-bottom: 20px;

}
.rules:hover {
  color: #c9c9c9; /* 호버 시 글씨 색상 변경 */
  transform: scale(1.1); /* 살짝 확대 효과 */
}

/*센터박스*/
.centerBox {
  width: 410px;
  padding: 25px;
  margin-top: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 그림자 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.roomTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5px;
}

.roomSubtitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 6px;
}

.lastUserTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.lastUser,
.eventTitle {
  font-size: 0.9rem;
}

.locationContainer {
  display: flex; /* 가로로 배치 */
  align-items: center; /* 수직 정렬 */
  gap: 20px; /* 박스와 날짜 사이 간격 */
  margin-top: 20px; /* 위아래 여백 */
}

.locationBox {
  border-radius: 5px; /* 모서리 둥글게 */
  padding: 2px 5px;
  font-size: 0.9rem; /* 글씨 크기 */
  border: none; 
  color: #ccc; /* 글자 색상 */
  background-color: rgba(255, 255, 255, 0.251); /* 배경 색상 */
  text-align: center; /* 텍스트 가운데 정렬 */
  display: inline-block; /* 글자 길이에 맞는 박스 */
}

.date {
  font-size: 14px; /* 글자 크기 */
  color: #aaa; /* 날짜 글자 색상 */
  margin-bottom: -3px;
}

.checkkey {
  margin-top: 30px;
  position:absolute;
  top:100px;
  left:40px;
  gap: 10px;
}

.separator {
  border: none; /* 기본 테두리를 제거 */
  height: 1px; /* 선의 두께 */
  background: rgba(69, 58, 58, 0.8); /* 흰색 반투명 배경 */
  width: 100%; /* 선의 길이를 부모 요소에 맞춤 */
  margin: 15px 0; /* 위아래 간격 설정 */
}

.statusCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%; /* 원 모양 */
  display: inline-block; /* 크기를 유지하며 인라인 요소로 처리 */
  margin-right: 10px; /* 텍스트와의 간격 */

}

.textWithCircle {
  display: flex; /* Flexbox 활성화 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  width: 100%; /* 부모 요소 전체를 차지 */
  margin-bottom: 5px;
}
.statusCircle2 {
  width: 15px;
  height: 15px;
  border-radius: 50%; /* 원 모양 */
  display: inline-block; /* 인라인 블록으로 표시 */
  margin-left: 250px; /* 텍스트와의 간격 */
}

.canlentCircle {
  background-color: #e4e4e4; /* 회색 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.usingCircle {
  background-color: #1f3775; /* 파란색 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.didntreturnCircle {
  background-color: #861c1c; /* 빨간색 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin-top: 20px;
  gap:10px;
}

.closeeButton {
  flex: 1;
  padding: 14px 20px;
  width: 100%;
  margin-top: 12px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.closeeButton:hover {
  background-color: #1f3775;
  transform: scale(1);
}
.actionButton {
  flex: 1;
  padding: 14px 20px;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #1f3775;
  transform: scale(1);
}

/* 규칙 모달 스타일 */
.ruleModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ruleModalContent {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 자식 요소를 세로로 배치 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  flex-direction: column; /* 자식 요소를 세로로 배치 */
  align-items: center; /* 내용 가운데 정렬 */
}
.ruleModalContent h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center; /* 내용 가운데 정렬 */
  font-size: 1.5rem;
  color: #000000;
}
.ruleModalContent li {
  margin-bottom: 10px;
  color: #555;
}
.ruleModalContentOi {
  margin-bottom: 20px;
}
.closeButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1f3775;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #152552;
}

/* 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* 배경 투명도 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* 모달 헤더 */
.modalContent h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column; /* 레이블과 입력 상자를 세로로 배치 */
  align-items: flex-start; /* 왼쪽 정렬 */
  margin-bottom: 10px; /* 컨테이너 간 간격 */
  width: 100%; /* 반응형을 위한 너비 설정 */
  max-width: 300px; /* 최대 너비 설정 */
}

/* 입력 필드 */
.input {
  width: 300px;
  padding: 10px;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: transparent;
  color: white;
  font-size: 14px;
  align-items: center;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input:focus {
  outline: none;
  border-color: #1f3775;
}

/* 모달 버튼 */
.modalButtonContainer {
  display: flex;
  justify-content: space-evenly; /* 버튼 간격을 동일하게 설정 */
  margin-top: 10px;
  gap: 40px;
  justify-content: center; /* 버튼을 가로 중앙 정렬 */
  align-items: center; /* 버튼을 세로로도 정렬 */
  justify-content: center;
}

.closeButton,
.cancelButton {
    flex: 1; 
    justify-content: center;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    background: black;
    color: white;
    font-size: 16px;
    border: 1.3px solid #ffffff; 
    transition: background 0.3s, transform 0.3s;
    box-sizing: border-box;
}

.closeButton:hover {
  background: #444444;
}
.cancelButton:hover {
  background: #c9302c;
}

@media (max-width: 692px) {

  .statusContainer {
    display: flex;
    justify-content: flex-end; 
  }
  .separator {
    height: 1px; /* 구분선 두께 유지 */
    background: rgba(255, 255, 255, 0.8); /* 색상 유지 */
    width: 90%; /* 부모 너비에 맞게 줄이기 */
    margin: 10px auto; /* 여백 조정 */
  }
  .checkkey {
    display: flex;
    flex-direction:column; /* 가로 방향으로 아이템을 배열 */
    justify-content: center; /* 아이템을 중앙에 배치 */
    width: 100%; /* 전체 너비를 사용 */
    margin-left: -20px;
    margin-top: -26px;
    gap: 0px;
  }

  .centerBox {
    width: 85%; /* 전체 화면의 90% 사용 */
    padding: 15px;
    height: 220px;
    margin-top: 160px;
  }

  .roomTitle, .roomSubtitle, .lastUserTitle {
    text-align: center; /* 제목과 부제목 가운데 정렬 */
  }

  .locationContainer {
    display: flex; /* 가로로 배치 */
    align-items: center; /* 세로 가운데 정렬 */
    gap: 20px; /* 박스와 텍스트 사이 간격 */
    margin-top: 20px; /* 위아래 여백 */
    justify-content: flex-start; /* 요소를 왼쪽으로 정렬 */
    width: 100%; /* 부모 요소 전체 차지 */
  }

  .buttonContainer {
    flex-direction: row; /* 버튼을 세로로 배치 */
    width: 85%; /* 너비를 100%로 조정 */
    align-items: center;
  }

  .actionButton {
    margin-top: -10px;
  }


  .modalContent, .ruleModalContent {

    padding: 15px;
  }

  .closeButton,
  .cancelButton {
    width: 48%; /* 버튼이 입력창의 절반 크기 */
    height: 45px; /* 입력 필드와 동일한 높이 */
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .closeButton {
    align-self: flex-start; /* 왼쪽 정렬 */
  }

  .cancelButton {
    align-self: flex-end; /* 오른쪽 정렬 */
  }



  .rules {
    margin-bottom: 20px;
  
  }
  .page {
    margin-top: -20px;
  }

.roomTitle {
  margin-top: 5px;
  margin-left: 20px;
}
  .roomSubtitle,
  .lastUserTitle,
  .lastUser,
  .eventTitle {
    margin-left: 20px;
  }

  .statusCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%; /* 원 모양 */
    display: inline-block; /* 크기를 유지하며 인라인 요소로 처리 */
    margin-left: 8px; /* 텍스트와의 간격 */
    
  }

  .statusCircle2 {
    width: 13px;
    height: 13px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  
  .locationBox {
    margin-left: 20px;
  }

  .eventTitle {
    font-size: 0.9rem;
    color: white; /* 텍스트 색상 */
    text-align: left; /* 왼쪽 정렬 */
    margin-left: -10px;
    flex-shrink: 0; /* 줄어들지 않도록 설정 */
  }
  .date {
    margin-left: -20px;
    margin-top: -10px;
  }
  .ruleModalContent {
    padding: 20px 20px;
  }
  .ruleModalContent ol {
    list-style-position: inside; /* 숫자를 안쪽으로 배치 */
    padding-left: 0; /* 왼쪽 여백 제거 */
  }
  .modalButtonContainer {
    display: flex;
    justify-content: space-between; /* 버튼을 좌우 정렬 */
    align-items: center;
    width: 100%; /* 부모 요소 전체 너비 사용 */
    max-width: 300px; /* 입력창과 동일한 크기 */
    gap: 10px; /* 버튼 사이 간격 */
}



}

