body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-top: 110px;
}

.label {
  align-self: flex-start; /* 레이블 왼쪽 정렬 */
  font-size: 14px;
  margin-left: 30px;
}
/*규칙*/
.rules {
  font-size: 14px;
  color: #ffffff;
  border-bottom: 0.3px solid #ffffff;
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  background-color: transparent;
  margin-top: 20px;

}
.rules:hover {
  color: #c9c9c9; /* 호버 시 글씨 색상 변경 */
  transform: scale(1.1); /* 살짝 확대 효과 */
}

/*센터박스*/
.centerBox {
  width: 410px;
  padding: 25px;
  margin-top: 30px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 그림자 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.roomTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5px;
}

.roomSubtitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 6px;
}

.lastUserTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.lastUser,
.eventTitle {
  font-size: 0.9rem;
}

.locationContainer {
  display: flex; /* Flexbox로 설정 */
  justify-content: space-between; /* 두 요소를 양 끝으로 정렬 */
  align-items: center; /* 세로축 가운데 정렬 */
  width: 100%; /* 부모 요소의 너비를 가득 채우도록 설정 */
  margin-top: 10px; /* 요소 간의 간격 */
}

.locationBox {
  border-radius: 5px; /* 모서리 둥글게 */
  padding: 2px 5px;
  font-size: 14px; /* 글씨 크기 */
  border: none; 
  color: #ccc; /* 글자 색상 */
  background-color: rgba(255, 255, 255, 0.251); /* 배경 색상 */
  text-align: center; /* 텍스트 가운데 정렬 */
  display: inline-block; /* 글자 길이에 맞는 박스 */
}

.date {
  font-size: 14px; /* 글자 크기 */
  color: #aaa; /* 날짜 글자 색상 */
  margin-bottom: -3px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: 8px;
}

.checkkey {
  position: absolute;
  top: 120px; /* 위쪽에서 떨어진 거리 */
  left: 40px; /* 페이지 왼쪽에 고정 */
  margin-top: 30px;
}

.separator {
  border: none; /* 기본 테두리를 제거 */
  height: 1px; /* 선의 두께 */
  background: rgba(255, 255, 255, 0.8); /* 흰색 반투명 배경 */
  width: 100%; /* 선의 길이를 부모 요소에 맞춤 */
  margin: 15px 0; /* 위아래 간격 설정 */
}

.statusCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%; /* 원 모양 */
  margin-left: 10px; /* 텍스트와의 간격 */
}

.statusCircle2 {
  width: 15px;
  height: 15px;
  border-radius: 50%; /* 원 모양 */
  display: inline-block; /* 인라인 블록으로 표시 */
  margin-bottom: 0; /* 아래 여백 초기화 */
}

.canlentCircle {
  background-color: #e4e4e4; /* 회색 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.usingCircle {
  background-color: #1f3775; /* 파란색 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.didntreturnCircle {
  background-color: #861c1c; /* 빨간색 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin-top: 20px;
  gap:10px;
}

.actionButton {
  flex: 1;
  padding: 14px 20px;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #333;
  transform: scale(1);
}

/* 규칙 모달 스타일 */
.ruleModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ruleModalContent {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 자식 요소를 세로로 배치 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  flex-direction: column; /* 자식 요소를 세로로 배치 */
  align-items: center; /* 내용 가운데 정렬 */
}
.ruleModalContent h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center; /* 내용 가운데 정렬 */
  font-size: 1.5rem;
  color: #000000;
}
.ruleModalContent li {
  margin-bottom: 10px;
  color: #555;
}


.closeButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1f3775;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.closeButton:hover {
  background-color: #152552;
}

/* 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* 배경 투명도 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* 모달 헤더 */
.modalContent h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* 입력 필드 */
.input {
  width: 300px;
  padding: 10px;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: transparent;
  color: white;
  font-size: 14px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input:focus {
  outline: none;
  border-color: #1f3775;
}

/* 모달 버튼 */
.modalButtonContainer {
  display: flex;
  margin-top: 10px;
  gap: 40px;
  justify-content: center; /* 버튼을 가로 중앙 정렬 */
  align-items: center; /* 버튼을 세로로도 정렬 */
  justify-content: center;
}

.closeButton {
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    background: black;
    color: white;
    font-size: 16px;
    border: 1.3px solid #ffffff; 
    transition: background 0.3s, transform 0.3s;
}

.closeButton:hover {
  background: #444444;
    transform: scale(1.1);
}

.statusContainer {
  display: flex; /* Flexbox로 설정 */
  justify-content: space-between; /* 두 요소를 양 끝으로 정렬 */
  align-items: center; /* 세로축 가운데 정렬 */
  width: 100%; /* 부모 요소의 너비를 가득 채우도록 설정 */
  margin-bottom: 10px; /* 요소 간의 간격 */
}
