
/* main-container */
.maincontainer {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* main-text */
.maintext {
    padding: 20px;
    text-align: center;
    margin-top: 150px;
}

.maintitle {
    color: #fff;
    font-size: 50px;
    margin-bottom: 30px;
}

.mainsubtitle {
    color: #bbb;
    font-size: 25px;
    margin-bottom: 100px;
}

.mainbutton {
    background-color: #324E97;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 250px;
    width: 200px;
}

.mainbutton:hover {
    background-color: #223B7C;
    transform: scale(1.1);
}



/* main-status */
.mainstatus {
    
}

.statustitle-wrapper {
    margin-bottom: 20px;
}

.statustitle {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.statusline {
    width: 50px;
    height: 4px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.statusbox {
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 100px;
    padding: 80px 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
}

.status {
    color: #fff;
}

.status h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.status p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ccc;
}

.statusinfoline {
    width: 200px;
    height: 1px;
    background-color: #ccc;
    margin: 20px auto 0;
    margin-bottom: 20px;
}

@media (max-width: 760px) {
    .maintitle {
        font-size: 8vw;
    }
    .mainsubtitle {
        font-size: 5vw;
    }
    .mainbutton {
        font-size: 15px;
        padding: 10px;
        width: 150px;
        height: 40px;
        margin-bottom: 200px;
    }
    .statustitle {
        font-size: 20px;
        margin-left: 15px;
    }
    .statusline {
        margin-left: 15px;
    }
    .statusbox {
        padding: 40px;
        flex-direction: column;
        gap: 50px;
    }
}