html, body {
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
    width: 100%; /* 너비를 100%로 설정 */
    height: 100%; /* 높이를 100%로 설정 */
  }
  
  .tutorialPage {
    display: flex;
    margin-top: 96px;
    top: 0;
    left: 0;
    width: 100vw; /* 화면 너비 */
    height: 70vh; /* 화면 높이 */
    
  }
  .imageContainer {
    margin-top: 96px;
  }
  
  .mainImage {
    position: absolute; /* 부모를 기준으로 절대 위치 */
    top: 0;
    left: 0;
    width: 100%; /* 부모의 너비를 채움 */
    height: 100%; /* 부모의 높이를 채움 */
    object-fit: cover; /* 비율 유지하면서 부모 크기에 맞춤 */
    z-index: 0; /* 다른 요소보다 뒤로 배치 */
    
  }

.skipButton {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    width: 60px;
    margin-top: -90px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
  }
  
  .skipButton:hover {
    background-color: (0, 0, 0, 0.9);
  }

  