.Rules {
  margin-top: 15px;
  padding-left: 20px; /* 내부 여백 */
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.RulesContainer {
  background-color: rgba(207, 207, 207, 0.507); /* 배경색 */
  padding: 25px; /* 내부 여백 */
  border-radius: 5px; /* 모서리를 둥글게 */
  margin: 20px; /* 외부 여백 */
  margin-top: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  cursor: pointer; /* 클릭 가능하도록 */
}

.RulesHeader {
  display: flex;
  justify-content: space-between; /* 제목과 화살표 간격 조정 */
  align-items: center; /* 수직 정렬 */
}

.arrow {
  font-size: 16px;
  color: #ffffff;
}

.RulesHeader h2 {
  margin: 0; /* 여백 제거 */
  font-size: 20px; /* 글씨 크기 */
  color: #ffffff;
}
.Rules li {
  margin-bottom: 10px; /* 규칙들 사이의 간격 */
  line-height: 1.6; /* 줄 간격 */
}

.penalty h2 {
  font-size: 24px;
  margin-top: 15px;
  margin-left: -40px;
  color: #d99c9c;
}

.penalty {
  margin-left: 80px;
  font-size: 18px;
  line-height: 1.5;
  color: #d99c9c;
  font-weight: 500;
}

.penalty li {
  margin-top: 10px; /* 규칙들 사이의 간격 */
  line-height: 1.6; /* 줄 간격 */
  font-weight: 700;
  width: 1000px; /* 너비 조정 필요 */
  list-style-type: none; /* 동그라미 제거 */
  margin: 0; /* 필요에 따라 여백 조정 */
  padding: 0;
}

.line {
  width: 50px;
  height: 4px;
  background-color: #d99c9c;
  margin-left: -40px;
  margin-top: -5px;
}

.penaltyTitle {
  margin-bottom: 20px;
}

/* 모바일 장치를 위한 미디어 쿼리 */
@media (max-width: 600px) {
  .Rules, .penalty {
    padding-left: 30px; /* 패딩 조정 */
    padding-right: 20px;
    font-size: 16px; /* 글꼴 크기 조정 */
    align-items: center;
    margin-top: -20px;
  }

  .Rules li, .penalty li {
    margin-bottom: 8px; /* 규칙 간격 조정 */
    line-height: 1.4; /* 줄 간격 조정 */
  }

  .penalty li {
    width: auto; /* 너비 자동 조정 */
    margin-bottom: 40px;
    margin-top: 50px;
  }

  .penalty {
    margin-left: 0; /* 왼쪽 마진 제거 */
    margin-bottom: 20px;
  }

  .line {
    margin-left: 0; /* 선의 위치 조정 */
  }
}

